#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #1dacff;
  background-image: linear-gradient(
    107deg,
    #1dacff 0%,
    #a1fbf1 50%,
    #abffa2 100%
  );
}
.container {
  flex-grow: 1;
}
.fondoTitulo {
  background-color: #353aa6;
  background-image: linear-gradient(148deg, #353aa6 0%, #ee74e1 100%);

  box-shadow: -3px 11px 35px 2px rgba(0, 0, 0, 0.64);
  -webkit-box-shadow: -3px 11px 35px 2px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: -3px 11px 35px 2px rgba(0, 0, 0, 0.64);
}
.boxFormulario {
  margin-top: 75px;
  padding: 30px;
  border-radius: 8px;
  background-color: white;
  border: 9px inset #ad5aff;
}
.btn-grad {
  background-image: linear-gradient(
    to right,
    #4776e6 0%,
    #8e54e9 51%,
    #4776e6 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
}

@media screen and (min-width: 768px) and (max-width: 991px) {
}
